@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  word-break: keep-all;
  text-wrap: balance;
}

a:not([class]) {
  color: currentColor;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture,
canvas,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 상단 헤더 */
.top-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  grid-template-columns: 1fr 2fr 1fr;
  background: #ffffff;
  border-bottom: 1px solid #000;
}

.w-screen {
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.flex-row {
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.header-item {
  width: 100%;
  height: 7.5rem;
}

.header-item-main {
  width: 100%;
  height: 7.5rem;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.header-item-box-ko.noto-400 {
  width: 100%;
  padding: 1rem;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
  text-align: center;
  border-bottom: 1px solid #000;
}

.header-item-box-en.grandiflora-one-regular {
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 1rem;
  font-family: "Grandiflora One", cursive;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.header-item-box-main.noto-700 {
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  font-optical-sizing: auto;
  text-align: center;
}

.button {
  display: inline-block;
  width: 100%;
  padding: 0rem;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border: none;
}

.button span {
  position: relative;
  display: inline-block;
  transition: 0.5s;
}

.button span:after {
  position: absolute;
  right: -20px;
  content: "»";
  opacity: 0;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover {
  font-weight: 600;
  color: #fff;
  background-color: #000000;
}

.button:hover span:after {
  right: 0;
  opacity: 1;
}

.center {
  height: calc(100vh - 120px);
  margin-inline: auto;
  text-align: center;
}

.flow > * + * {
  text-align: center;
}

.box {
  position: fixed;
  top: 100px;
  width: 100vw;
  height: calc(100vh - 100px);
  overflow: hidden;
  border-bottom: 1px solid #000;
}

.box.img-wrap {
  overflow: hidden;
}

.thumb {
  width: 100%;
  height: auto;
}

.box img {
  transition-duration: 0.3s;
}

.box img:hover {
  transform: scale(1.2, 1.2);
  transition-duration: 0.5s;
}

body {
  padding: 0;
  margin: 0;
}

/* 빨간색 원 커서 */
.trail-circle {
  position: fixed;
  width: 10px;
  height: 10px;
  pointer-events: none;
  background: rgb(224, 145, 34);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}