@use './reset';
// @use '/styles/font'; // @use '/styles/home';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // font-family: serif;
}
a {
  color: inherit;
  text-decoration: none;
}

/* 상단 헤더 */
.top-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  // display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background: #fff;
  border-bottom: 1px solid #000;
}
.w-screen {
  width: 100%;
}
.flex {
  display: flex;

  flex-wrap: nowrap;
}
.flex-row {
  flex-direction: row;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.header-item {
  width: 100%;
  height: 7.5rem;
}
.header-item-main {
  width: 100%;
  height: 7.5rem;
  // padding: 0.625rem;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}
.header-item-box-ko.noto-400 {
  width: 100%;
  padding: 1.25rem;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
  text-align: center;
  border-bottom: 1px solid #000;
}
.header-item-box-page.noto-600 {
  width: 100%;
  padding: 1rem;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  font-optical-sizing: auto;
  color: #000000;
  text-align: center;
  border-bottom: 1px solid #000;
}

.header-item-box-en.grandiflora-one-regular {
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 1rem;
  font-family: 'Grandiflora One', cursive;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.header-item-box-main.noto-700 {
  width: 100%;
  // padding: 1rem;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  font-optical-sizing: auto;
  text-align: center;
}
// 메인버튼
.main-button {
  display: inline-block;
  width: 100%;
  padding-top: 5px;
  cursor: pointer;
  border: none;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}
.main-button:hover {
  height: 120px;
  overflow: hidden;
  color: rgb(255, 255, 255);
  background-color: #000;
  transform: scale(1.1, 1.1);
  transition: 0.3s;
}
// 버튼 시작
.button {
  display: inline-block;
  width: 100%;
  padding: 0rem;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border: none;
}

.button span {
  position: relative;
  display: inline-block;
  // align-items: center;
  // padding: auto;
  transition: 0.5s;
}

.button span:after {
  position: absolute;
  right: -20px;
  content: '\00bb';
  opacity: 0;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}
.button:hover {
  font-weight: 600;
  color: #fff;
  background-color: #000;
}

.button:hover span:after {
  right: 0;
  opacity: 1;
}
// 버튼 끝

//이제부터 콘텐츠
.layout {
  position: fixed;
  top: 120px; /* 상단 헤더 높이 */
  display: flex;
  width: 100%;
  height: calc(100vh - 120px);
  // padding-top: 7.5rem;
  margin: 0 auto;
  overflow-y: auto;
  background: #fff;
  scroll-behavior: smooth;
}

/* 메인 영역 */
.content {
  // flex-direction: column;
  align-items: center;
  width: calc(100% - 260px);

  background-color: #ffffff;
}

/* 캔버스 영역 */
.canvas {
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #333;
}
.textBoxTitle-noto-700 {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  font-optical-sizing: auto;
  color: #fff;
  text-align: center;
  background-color: #000;
}
/* 이미지 박스 */
.canvas-imgBox {
  display: flex;
  align-items: center;
  justify-content: center;
  // background: #fff;
}

.wrapper {
  position: relative;
  // box-sizing: border-box;
  max-inline-size: min(
    100%,
    var(--wrapper-max-width, var(--max-viewport-width, 90rem))
  );
  padding-inline: var(--gutter, 0);
  margin-inline: auto;
}
.textBox-noto-600 {
  padding-top: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  font-optical-sizing: auto;
  color: #000000;
  text-align: center;
  // border-bottom: 1px solid #333;
}
.textBox-noto-400 {
  flex-flow: column;
  min-width: 300px;
  max-width: 700px;
  padding-top: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
  color: #000000;
  text-align: center;
}
.space {
  width: 100%;
  height: 6.25rem;
}
.cover {
  width: 100%;
  height: 42px;
}
.cover2 {
  width: 100%;
  height: 13px;
  background-color: #000;
}
// .box1 {
// }
/* 사이드바 */
.sidebar {
  position: fixed;
  top: 120px; /* 상단 헤더 높이 */
  right: 0;
  width: 260px;
  height: calc(100vh - 120px);
  overflow: hidden;
  overflow-y: auto;
  background: #fff;
  border-left: 1px solid #000;
}
// .sidebar-inner {
//   height: 100%;
//   overflow-y: auto;
// }
.menu-section {
  padding-bottom: 1.375rem;
  border-bottom: 1px solid #000;
}

.sidebar-title.p-noto-400 {
  width: 100%;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
  color: #666;
  // text-align: center;
  border-bottom: 1px solid #000;
}
.sidebar-item-text.p-noto-600 {
  width: 100%;
  padding-top: 0.5rem;
  padding-left: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  font-optical-sizing: auto;
  color: #666;
  // text-align: center;
  // border-bottom: 1px solid #323232;
}

.menu-section h4 {
  margin-bottom: 8px;
  font-size: 16px;
}

.menu-section p {
  font-size: 14px;
  line-height: 1.6;
}

/* 마우스 커서 */

// body {
//   padding: 0;
//   margin: 0;
//   cursor: none;
// }
/* 빨간색 원 커서 */
// #cursor {
//   position: fixed;
//   z-index: 9999;
//   width: 10px;
//   height: 10px;
//   pointer-events: none; /* 클릭 방해 X */
//   background-color: rgb(104, 78, 26);
//   border-radius: 50%;
//   transform: translate(-50%, -50%);
// }

.trail-circle {
  position: fixed;
  width: 10px;
  height: 10px;
  pointer-events: none;
  background: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
html {
  scroll-behavior: smooth;
}
.side-button {
  display: inline-block;
  width: 100%;
  padding: 0rem;

  cursor: pointer;
  border: none;
}
.side-button:hover {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 800;
  font-optical-sizing: auto;
  color: rgb(0, 0, 0);
  // transform: scale(1.2, 1.2);
  transition: 0.3s;
}
.side-button2 {
  display: inline-block;
  width: 100%;
  padding: 0rem;

  cursor: pointer;
  border: none;
}
.side-button2:hover {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 800;
  font-optical-sizing: auto;
  color: rgb(0, 0, 0);
  // transform: scale(1.2, 1.2);
  transition: 0.3s;
}
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
.tilt-wrap {
  perspective: 1000px; /* 3D 깊이 */
}

.tilt-img {
  transform-style: preserve-3d;
  transition: transform 0.15s ease;
}
